@import "tailwindcss";

.highlight-match {
  background-color: #ffd764;
  border-radius: 2px;
  padding: 0 2px;
}

.highlight-match-active {
  background-color: #ff9800;
}

[data-theme="dark"] .highlight-match {
  background-color: #615024;
}

[data-theme="dark"] .highlight-match-active {
  background-color: #a76b07;
}



.button-code-tools{
  @apply bg-gray-300 hover:bg-gray-400 dark:bg-zinc-900 dark:hover:bg-zinc-700 px-2.5 py-1 flex items-center gap-1 transition
}

.syntax-keyword { color: #569cd6; font-weight: bold; }
.syntax-string { color: #ce9178; }
.syntax-comment { color: #6a9955; font-style: italic; }