@import "tailwindcss";

.gray-btn {
  @apply px-2 py-2 rounded-lg text-xs bg-zinc-800 hover:bg-zinc-800/35 hover:border-zinc-900 flex items-center justify-center gap-2;
}

.input-gray {
  @apply bg-zinc-800/80 backdrop-blur-3xl p-2 border-none rounded bg-gradient-to-r from-zinc-900 to-zinc-800 transition-colors;
}

.btn-black {
  @apply p-2 rounded-md text-zinc-200 bg-gradient-to-t  flex items-center gap-2 hover:bg-gradient-to-r from-zinc-900 to-zinc-800 transition-colors;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
